#first{
    background-color: steelblue;
    color: white;
}

.header{
    display: flex;
    gap: 16px;
    justify-content: space-between ;
    flex: 1;
    margin: 0 100px;
}

#header-links{
    color:darkslategrey;
    display: flex;
    gap: 16px;
}
