body{
    margin: 0;
}
#first{
    background-color: rgb(12, 44, 70);
    color: white;
}

.header{
    padding: 8px;
    margin: 0px 50px;
}

ul{
    display: flex;
    gap: 12px;
    list-style: none;
    align-items: baseline;
    padding: 0px;
}
li.header-logo{
    margin-right: auto;
}

#first-bottom{
  display: block;
  margin: 0 100px;
  width: 360px;
}

.awesome{
    font-size: 50px;
    margin-bottom: 0;
}

.awesome-subtext{
    color: rgb(193, 193, 193);
    margin-top: 0;
}

.first-button{
    background-color: rgb(45, 106, 247);
    color: white;
    padding: 8px 16px;
}

#sections{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}
.placeholder{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
    padding: 50px;
    background-color: rgb(193, 193, 193);
}