

body{
    margin: 0;
}

/* first page  */


#first{
    background-color: rgb(12, 44, 70);
    color: rgb(193, 193, 193);
    padding-bottom: 100px;
}


/* header section start */
.header{
    padding: 8px;
    margin: 0px 100px;
}

ul.header-list{
    display: flex;
    gap: 12px;
    list-style: none;
    align-items: baseline;
    padding: 0px;
}
li.header-logo{
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
    color: white;
}


/* header section end  */

/*    Awesome part   */

#sections{
    display: flex;
    margin: 0px 100px;
}

.signing-up{
    margin-right: auto;
  width: 360px;
}

.awesome{
    font-size: 50px;
    margin-bottom: 0;
}

.awesome-subtext{
    color: rgb(193, 193, 193);
    margin-top: 0;
}

.first-button{
    background-color: rgb(45, 106, 247);
    color: white;
    padding: 8px 40px;
}


.placeholder{
    padding: 75px 150px;
    background-color: rgb(193, 193, 193);
    color: white;
}

/*     awesome section ends  */

/*      first page ends    */


/* second page starts     */

#second{
    text-align: center;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 8px 24px;
}

img{
    width: 150px;
    height: auto;
}